section:after {
  content: '';
  display: block;
  clear: both;
}
section{
	width:92%;
	/*background-color: grey;*/
	margin-left: 8%;
  transition: transform 0.5s ease;
}
section.pushed {
  transform: translateX(250px);
}
body{
	margin:0;
}
#myinfo{
  width:92%;
}
#home_image {
  position: fixed;
  top: 0;
  z-index: -1;
}
#space {
  background: none;
}
#space #spacer {
  width: 100%;
  padding-bottom: 70%;
}
#about{
  width:100%;
  background-color: white;
  height:850px;
}
.home{
	width:100%;
	padding-bottom: 60%;
	background-color: grey;
	float:left;
	background-size: cover;
	background-position:center fixed;
}
#home{
	background-image: url(../images/main/home.png);
}
.project{
	width:33.333333%;
	padding-bottom: 33.333333%;
	background-color: grey;
	float:left;
	background-size: cover;
	background-position:center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.project .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-position:center;
}

#project_1 .image {
	background-image: url(../images/main/1.png);
  transition: all 0.5s ease-in-out;
}
#project_2 .image {
	background-image: url(../images/main/switch.png);
	transition: all 0.5s ease-in-out;
}
#project_3 .image {
	background-image: url(../images/main/museum.png);
	transition: all 0.5s ease-in-out;
}
#project_4 .image {
	background-image: url(../images/main/selfies.png);
	transition: all 0.5s ease-in-out;
}
#project_5 .image {
	background-image: url(../images/main/mate.png);
	transition: all 0.5s ease-in-out;
}
#project_6 .image {
	background-image: url(../images/main/cca_poster.png);
	transition: all 0.5s ease-in-out;
}
#project_7 .image {
	background-image: url(../images/main/expose.png);
	transition: all 0.5s ease-in-out;
}
#project_8 .image {
	background-image: url(../images/main/pattern.png);
	transition: all 0.5s ease-in-out;
}
#project_9 .image {
	background-image: url(../images/main/photo.png);
	transition: all 0.5s ease-in-out;
}
#project_10 .image {
	background-image: url(../images/main/space.png);
	transition: all 0.5s ease-in-out;
}
#project_11 .image {
	background-image: url(../images/main/package.png);
	transition: all 0.5s ease-in-out;
}
#project_12 .image {
	background-image: url(../images/main/1q84.png);
	transition: all 0.5s ease-in-out;
}

#project_1:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_2:hover .image{
	opacity: 0.3;
	transform: translate3d(0,0,0) scale(1.1);
}
#project_3:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_4:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_5:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_6:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_7:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_8:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_9:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_10:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_11:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}
#project_12:hover .image{
	opacity: 0.3;
  transform: translate3d(0,0,0) scale(1.1);
}


.aboutinfo{
  background-color: white;
}
.aboutinfo p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 200%;
  font-size: 2em;
  margin-left: 50px;
  margin-right: 60px;
  position: absolute;
  margin-top: 200px;
}

.text{
    background-color: white;
    width:700px;
    opacity: 0.7;
    height:230px;
    margin-bottom: 0;
    float:right;
    margin-top: 500px;
    position: absolute;
}
.text p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: -1000%;
  font-size: 2.5em;
  margin-left: 40px;
  position: absolute;
  margin-top: 50px;
}
.text p2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 40px;
  position: absolute;
  margin-top: 120px;
}
/* nav */

.container {
  position: fixed;
  top: 0;
  width: 10%;
}
header {
  width: 100%;
}
#nav-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
}
#nav-button .rect {
  position: absolute;
  width: 32%;
  height: 5%;
  left: 25%;
  background: black;
  transition: all 0.5s ease;
}
#nav-button .rect:first-child {
  top: 36%;
  transform-origin: 0 100%;
}
#nav-button .rect:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
#nav-button .rect:last-child {
  bottom: 36%;
  transform-origin: 0 0;
}
nav {
  margin-top: 100%;
}
nav a {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 200%;
  font-size: 2em;
  margin-left: calc(100%);
}

nav {
  display: none;
}

header.toggle #nav-button .rect:first-child {
  transform: rotate(42.5deg);
}
header.toggle #nav-button .rect:nth-child(2) {
  opacity: 0;
}
header.toggle #nav-button .rect:last-child {
  transform: rotate(-42.5deg);
}
header.toggle nav {
  display: block;
}


